.form-check-input {
  -webkit-appearance: none;
  height: 1.41em;
  width: 1.41em;
  border: 0;
  box-shadow: 0 0 0 0.08em #a5a2a2;
  border-radius: 1.25em;
}
.form-control:hover {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 61, 0.4);
}
#cadastro {
  height: unset;
  width: 50%;
}
#cadastro #bg-cadastro {
  padding: 15px 5% 75px 5%;
}
.form-login {
  width: 100%;
}
.form-control:not(.form-contato) {
  margin: 5% 0 5% 0;
  height: 60px;
}
.form-contato {
  height: 50px;
}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 61, 0.4);
}
.login {
  width: 100%;
  margin-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .bg-login {
  width: 75%;
  height: auto;
  padding: 30px 5% 100px 5%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background: #1a1a1a;
  flex-grow: 0;
}
@media (max-width: 575px) {
  .login .bg-login {
    width: 85%;
    padding: 30px 2% 100px 2%;
  }
}
@media (min-width: 575px) and (max-width: 766px) {
  .login .bg-login {
    width: 80%;
    padding: 30px 5% 100px 5%;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  .login .bg-login {
    width: 75%;
    padding: 30px 5% 100px 5%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .login .bg-login {
    width: 100%;
    padding: 30px 5% 100px 5%;
  }
}
.login .login-header {
  width: 100%;
  height: auto;
  flex-grow: 0;
}
.login .login-footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
}
@media (min-width: 1200px) {
  .login {
    width: 40%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .login {
    width: 50%;
  }
}
.btn-login {
  height: 50px;
  background: #FF003D;
  border-color: #FF003D;
}
.btn-login:hover {
  height: 50px;
  background: rgba(255, 0, 61, 0.6);
  border-color: rgba(255, 0, 61, 0.6);
}
