body,
html {
    height: 100%;
    background: #EDF1F5;
}

/* Helper */

.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-1 {
    margin-top: .25rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

/* .pt-1 {

}

.pt-2 {

} */

.pt-3 {
    padding-top: 1rem !important;
}

.pb-5_5 {
    padding-bottom: 5.5%;
}

/* .pt-4 {

} */

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

/* Nav */

nav:not(.nav-contato) {
    background: #2b2d42;
    color: #fff;
    height: 233px;
    width: 100%;
    padding-top: 40px;
    position: relative;
}

nav.nav-contato {
    background: rgba(22, 28, 38, .5);
    color: #e5e7ea;
}

nav.nav-contato:hover {
    background: #1f2631;
    color: #cfd5dc;
    transition-duration: 1s;
}

nav div.nav-wrapper ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav div.nav-wrapper a.brand-logo:not(.logo-contato) {
    font-size: 3em;
}

nav div.nav-wrapper a.logo-contato {
    padding-left: 15px;
}

.content-nav {
    margin-left: 15%;
    text-transform: capitalize;
}

.class-bord {
    display: inline-flex;
    border-left: 1px solid hsla(0, 0%, 93.3%, .16);
    height: 30px;
    margin-left: 20px;
    padding-left: 20px;
    align-items: center;
}

.img-al {
    height: 60px;
}

.banner-image {
    backface-visibility: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s ease-in-out;
    width: 100%;
    z-index: 0;
}

main:not(.bg-contato) {
    margin-top: -80px;
    position: relative;
    z-index: 60;
    margin-bottom: 50px;
}

div.card.horizontal div.card-image img {
    height: 280px;
}

div.container-all div.row div.col.s4.col-card-animes {
    padding: 10px;
}

div.container-all div.row {
    margin-bottom: 0;
}

.card-anime:hover {
    box-shadow: 0 4px 6px rgba(49, 54, 68, .05), 0 5px 20px rgba(49, 54, 68, .08);
}

.card-image {
    position: relative;
}

.card .card-title {
    font-size: 13px;
    font-weight: 300;
}

.back-img {
    width: 100%;
    background-color: rgba(41, 41, 41, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 0%;
    max-height: 100%;
    z-index: 1000;
    padding: 15px;
}

.text-img {
    color: white;
    font-size: 12px;
    font-weight: bolder;
}

.text-blue-back {
    color: rgb(117, 181, 240);
    font-size: 11px;
    font-weight: bold;
}

.gender {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    overflow: hidden;
}

.genrer {
    background: rgb(235, 182, 45);
    border-radius: 15px;
    color: rgb(138, 44, 15);
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 700;
    height: 21px;
    margin-right: 10px;
    padding: 0px 13px;
    text-transform: lowercase;

}

/* Contato */

.bg-contato {
    background-image: url('../IMG/contato.jfif');
    background-repeat: no-repeat;
    /* background-size: 100% 100%; */
}

.container-contato {
    background: #1a1a1a;
}

.first-row-contato {
    /* margin-top: 5%; */
    padding-top: 1rem;
}

input[type="text"],
textarea {
    color: white;
}

input[type="text"]:focus,
textarea:focus {
    border-bottom: 1px solid #747BB6 !important;
    box-shadow: 0 1px 0 0 #747BB6 !important;
}

input[type="text"]:focus+label,
textarea:focus+label {
    color: #747BB6 !important;
}

input[type="text"]:focus,
i {
    color: #747BB6 !important;
}

.btn-form {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #2b2d42;
}

.btn-form:hover,
.btn-form:focus {
    background: #747BB6;
}

.card .card-action {
    padding: 7px 12px;
}

.texto-tv {
    color: white;
    font-size: 30px;
    margin: 0 0 0 16px;
}

footer {
    width: 100%;
    background-color: #2b2d42;
}

.footer-text {
    text-align: center;
    color: white;
}